body {
  background-color: #f0f0f0;
  /*background: linear-gradient(pink, pink, yellow); /* Standard syntax */*/
  margin: 0px;
  overflow: hidden;
}

#messages{
  margin:10px;
  padding:10px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
  width:20%;
}

#accordion{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
  width:250px;
}

#collapse1 * button{
  font-size: 12px;
  text-align: center;
  padding: 3px;
    /*background-color: red;*/
}

#view-modus{
  position:absolute;
  right:0px;
  margin: 10px;

}

.modal {
    overflow-y:auto;
    max-height:90%;
}

#btn-rotate-CCW{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.number-dim{
  position:absolute;
  right:15px;
  width:50px;
  height:20px;
  border:none;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

.btn-colorselector{
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}

.btn-default{
  width: 100%;
  margin-top: 5px;
}


/*@media screen and (min-width: 900px) {
  #accordion{
    width:20%;
  }
}*/
input[type=range] {
  width: 100%; /* Specific width is required for Firefox. */
}

.error{
  color: red;
}
