body {
  font-family: "Dosis";
  margin: 0px;
  overflow: hidden;
}

#no-configurator{
  width: 80%;
  position: absolute;
  right: 0px;
}

#browser_error_message{
  width:400px;
  background-color: white;
  margin: auto;
  position: relative;
  top: 100px;
  padding: 1.5em;
  text-align: center;
}

.cb-slideshow,
.cb-slideshow:after {
    list-style: none;
    position: fixed;
    width: 80%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    right: 0px;
    z-index: -2;
}
.cb-slideshow:after {
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left; */
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -2;
    animation: imageAnimation 36s linear infinite 0s;
}



.cb-slideshow li:nth-child(1) span {
  background-image: url("images/gal-staunir_kleurstalen.jpg");
}
.cb-slideshow li:nth-child(2) span {
  background-image: url("images/gal-staunir_ruggensteun.jpg");
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url("images/gal_staunir_loft.jpg");
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url("images/gal_staunir_whitebathroom.jpg");
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url("images/gal-staunir_kleurstalen.jpg");
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url("images/gal-staunir_ruggensteun.jpg");
    animation-delay: 30s;
}






@keyframes imageAnimation {
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 0.5;
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 0.5;
      transform: scale(1.1);
	}
	25% {
	    opacity: 0;
      transform: scale(1.15);
	}
	100% {
      opacity: 0;
      transform: scale(1);
}
}

.btn-circle {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  color: white;
  border-radius: 20px;
}

.btn-default{
  border: 0px;
}
.btn-default:hover{
  background-color: grey;
}

.btn-default + .tooltip > .tooltip-inner {
    background-color: grey;
    color: #FFFFFF;
}

.btn-default + .tooltip > .tooltip-arrow {
    border-bottom: 5px solid grey;
}

#view-selector * .btn-default {
    width:100%;
}
#view-selector > .col-sm-4 {
    padding:0px;
}

.btn-toggle {
  background-color: #f0f0f0;
  color: grey;
  border-width: 0px;
  height: 30px;
  text-align: center;
  padding: 2px;
}

.btn.active, .btn:active{
  color: grey;
  background-color: #dddddd;
  box-shadow: none;
}



.btn-toggle.active,.btn.active:hover,{
  background-color: #dddddd;
}

.btn-toggle:hover{
  background-color: #dddddd;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Dosis";
}

#renderer{
  position: absolute;
  right:0px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(white, white, grey); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, white, grey); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, white, grey); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, white, grey); /* Standard syntax */
}

#accordion{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width:20%;
}
#accordion *:not(.number-dim){
  border: 0px;
}

#accordion * a{
  color: #000000;
}
#accordion * .panel-heading {
  background-color: #f0f0f0;
}
#accordion * .panel-heading:hover {
  background-color: #dddddd;
}
@media screen and (min-width:640px) {
  #accordion{
     visibility: visible;
    }
  #renderer{
    width:80%
  }
}
@media screen and (max-width:640px) {
  #accordion{
     visibility: hidden;
    }
  #renderer{
    width:100%
  }
  .cb-slideshow{
    width:100%
  }
  #no-configurator{
    width:100%
  }
}

.panel-group .panel+.panel {
  margin-top: 0px;
}

.modal {
    overflow-y:auto;
    max-height:90%;
}

.number-dim{
  position:absolute;
  right:15px;
  width:50px;
  height:20px;
  border:none;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

.btn-colorselector{
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}

input[type=range] {
  width: 100%; /* Specific width is required for Firefox. */
}

.error{
  color: red;
}
